.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    background-color: var(--surface-primary);
    border-bottom: 1px solid var(--border-input);
    position: sticky;
    top: 32.8px;
    z-index: 9;
    gap: 20px;
    white-space: nowrap;
}

.main-nav>* {
    text-align: center;
}

.main-nav::-webkit-scrollbar {
    display: none;
}

.main-nav a {
    text-decoration: none;
}

.main-nav button {
    background: transparent;
    color: var(--text-primary);
    font-size: 1rem;
    padding: 10px;
    border: none;
    border-radius: 6px;
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
}

.main-nav button:hover {
    background-color: var(--hover-dropdown-item);
    color: var(--text-primary);
}

.main-nav button:focus-visible {
    outline: 2px solid var(--border-high-contrast);
    outline-offset: 2px;
}

.main-nav .search-company-input .searched-companies-container {
    top: calc(100% + 10px);
    left: -100px;
    right: -100px;
}