.chart-container {
    height: 500px;
    padding: 15px;
}

.chart-container .chart-legend {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.chart-container .chart-legend div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart-container .chart-legend div:hover {}