.investor-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--surface-base);
    text-align: center;
    height: calc(100vh - 64px - 32.8px - 72.4px);
}