.investor-info-container {
    padding: 15px;
}

.investor-info-container .body {
    background-color: var(--surface-primary);
    border-radius: 8px;
}

.investor-info-container .tabs {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 15px;
}

.investor-info-container .body .tabs button {
    min-width: 100px;
    padding: 7px 10px;
}