.overview-container {
    min-height: calc(100vh - 64px - 32.8px - 72.4px);
    padding: 15px;
    display: grid;
    gap: 15px;
    grid-template-areas:
        "overview chart"
        "statistics chart";
    width: 100%;
}

.overview,
.chart,
.statistics {
    background-color: var(--surface-primary);
    border-radius: 8px;
}

.overview {
    grid-area: overview;
    padding: 15px;
}

.overview-container h2{
    margin-top: 0px;
}

.chart {
    grid-area: chart;
    width: 50vw;

}

.statistics {
    grid-area: statistics;
    display: grid;
    height: 100%;
    gap: 15px;
    padding: 15px;
    grid-template-areas:
        "stats-heading stats-heading stats-heading"
        "profile valuation_ttm growth"
        "margins valuation_ntm growth"
        "returns_5yr financial_health growth";
}

.statistics>*>.stat-category,
.statistics>*>.stat-item {
    font-size: 12px;
}

.statistics>*>.stat-category {
    font-weight: 600;
    margin: 10px 0px;
}

.statistics>*>.stat-item {
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-input);
}

.statistics>*>.stat-item:last-child {
    border: none;
}

.statistics .stats-heading {
    grid-area: stats-heading;
}

.statistics .profile {
    grid-area: profile;
}

.statistics .margins {
    grid-area: margins;
}

.statistics .returns-5yr {
    grid-area: returns_5yr;
}

.statistics .valuation-ttm {
    grid-area: valuation_ttm;
}

.statistics .valuation-ntm {
    grid-area: valuation_ntm;
}

.statistics .financial-health {
    grid-area: financial_health;
}

.statistics .growth {
    grid-area: growth;
}